{% extends "base.html" %}
{% block title %}Agregar dibujo{% endblock %}

{% block content %}
<style>
    body {
            font-family: 'Roboto', sans-serif;
        }
        h2 {
            font-weight: 700;
        }
        button {
            background-color: #007bff;
            color: white;
            font-size: 16px;
            cursor: pointer;
            padding: 12px;
            margin-block-end: 20px; /* Añadido margen superior para mover el botón abajo */
        }
        .container {
            height: 350px;
            width: 450px;
            padding: 50px;
            margin: 150px auto;
            border: 2px solid color rgba(255, 255, 255, 0.4);;
            border-radius: 10px;
            border-top: 100px;
            padding-top: 75px;
            background-color: rgba(255, 255, 255, 0.4); /* Fondo semitransparente */            
        } 
        /* Estilo para los campos del formulario */

        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 10px;
            margin:  -10px ;
            border-radius: 10px; /* Bordes redondeados */
            border: 1px solid #ccc; /* Borde de color gris */
            font-size: 16px;
        }
        input:focus {
            outline: none;
            border: 1px solid #4df0b1; /* Borde azul cuando se selecciona */
        }

</style>
<div class="container">
    <body style="background-image : url('https://plus.unsplash.com/premium_photo-1712685912274-2483dade540f?q=80&w=1475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
            background-size: cover;" ></body>
    
    <h2>Agregar dibujo</h2>
    <div class="form-group">
    <form method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
    </div>
    <a href="{% url 'retoshuellascarbono:index' %}" class="btn btn-secondary mt-3">Regresar a la pagina anterior </a>
    </body>
</div>
{% endblock %}