{% extends "base.html" %}
{% block title %}Retos Puce{% endblock title %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/challenge-index.css" %}">
</head>
<!-- Imagen y texto en el index -->
 <header>
    <div
            id="intro-example"
            class="p-5 text-center bg-image"
            
            style="background-image: url('https://plus.unsplash.com/premium_photo-1712685912274-2483dade540f?q=80&w=1475&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
                background-repeat:no-repeat;
                background-size:cover;"
            >
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-black">
                        <h1 class="mb-3">Retos para reducir la huella de carbono</h1>
                        <h5 class="mb-4">Aquí encontrarás retos para cuidar el medio ambiente y ganar premios haciendolo!</h5>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
    <center><a href="{% url "retoshuellascarbono:crear_reto" %}" class="btn btn-secondary">Crear Nuevo Reto</a></center>
    
    {% comment %} este es el enlace a las tarjetas con los retos {% endcomment %}
    {% include "cards.html" %}
</body>
<footer>
    {% comment %} este es el enlace al footer {% endcomment %}
    {% include "footer.html" %}
</footer>

{% endblock content %}